/vendor/
/storage
bower_components
/public/hot
/public/dev
.sass-cache
node_modules
npm-debug.log
.env
.tmp
.vscode
package-lock.json
*.code-workspace
tests/_reports/
/public/uploads
.phpunit.result.cache
debug.log

# OS files #
######################
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*Thumbs.db
._*
.env.testing
debug.log